<html>
	<head>
		<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='171172152-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

		<title>Buyer Order History Page</title>

		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/buyer_orderHistory.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class = "container">

			<div id="myHeader" class="header">
 				<table>
 					<td><div class="topIcon"><a href="../buyer_home"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
 					<td><h2>Orders to Pickup</h2></td>
 				</table>
 			</div>

			<div class="content">
				<br>
			<div id="incompleted">
			{{#if viewAlt}}
			{{#each incompleted_items}}
			 <div class = "incompletedOrder" id="{{@index}}">
				<table>
					<tr>
						<td rowspan="3">
      						<img src="../{{imageURL}}">
      					</td>
      					<td colspan="2">
      							<h4 class = "item_name">{{name}}</h4>
      					</td>
      					<td></td>
      				</tr>
					<tr>
      					<td>
      						<p><strong>Total: </strong>{{price}}</p>
      					</td>
      					<td>
      						<p><strong>Pickup Time: </Strong>{{pickupTime}}</p>
      					</td>
      				</tr>
					<tr>
						<td colspan="2">
							<p><strong>Pickup Address: </strong>{{pickupLocation}}</p>
						</td>
					</tr>
				</table>
					<div class="complete_pickUp"><button class="complete">Confirm Pickup</button> </div>
			</div>
			{{/each}}
			{{else}}
			{{#each incompleted_items}}
			 <div class = "incompletedOrder" id="{{@index}}">
				<table>
					<tr>
						<td rowspan="3">
      						<img src="{{imageURL}}">
      					</td>
      					<td colspan="2">
      							<h4 class = "item_name">{{name}}</h4>
      					</td>
      					<td></td>
      				</tr>
					<tr>
      					<td>
      						<p>Total: <strong>{{price}}</strong></p>
      					</td>
      					<td>
      						<p>Pickup Time: <strong>{{pickupTime}}</strong></p>
      					</td>
      				</tr>
					<tr>
						<td colspan="2">
							<p>Pickup Address: <strong>{{pickupLocation}}</strong></p>
						</td>
					</tr>
				</table>
					<div class="complete_pickUp"><button class="complete">Complete order</button></div>
			</div>
			{{/each}}
			{{/if}}
			</div>

			<hr>

			<a href="../buyer_orderHistory2">
				<div id="viewCompleted">
						<center><h4>View Past Orders</h4></center>
						<center><i class="material-icons" style="font-size:50px;">playlist_add_check</i></center>
				</div>
			</a>

			</div>

			<script src="/js/jquery-1.11.0.js"></script>
			<script src="/js/bootstrap.js"></script>
			<script src="/js/userHome.js"></script>
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115397636-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
			gtag('config', 'UA-115397636-1');
		</script>

	</body>
</html>
